/* IMPORT 3RD PARTY FONTS */
@import url(https://fonts.googleapis.com/css?family=Gudea);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

/* CSS RESET - BROWSER COMPATIBILITY */
html, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, 
del, dfn,  img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*line-height: normal;*/
    /*line-height: 1.15em;*/
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #0d1117;
	/*font-family: Gudea, 'PT Sans',  Calibri; */
	font-family: Gudea, sans-serif; 
	font-size: 16px;
	color: #e6edf3;
    overflow-y: scroll;
}

#page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

/**************************/
/*         HEADER         */
/**************************/
#header {
    margin-top: 25px;
    padding-bottom: 4px;
    border-bottom: 1px solid #a0a0a0;
    margin-bottom: 7px;
    /* background-color: #24292f; */
}

#title {
    font-size: 16pt;
    font-weight: bold;
    color: #d42a5b;
}
#subtitle {
    
}

#social_media {
    float: right;
    margin-bottom: -5px;
}

.social_ico {
    width: 20px;
    height: 20px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    margin-top: 4px;
    margin-right: 1x;
    opacity: 0.65;
}

.social_ico:hover {
    opacity: 0.8;
}

#social_media a {
    text-decoration: none;
}

#cursor {
    padding-left: 10px;
    /*
    display: inline-block;
    width: 10px;
    height: 5px;
    */
    -webkit-animation: blink 1s infinite steps(1, start);
    -moz-animation: 1s blink infinite steps(1, start);
    -ms-animation: 1s blink infinite steps(1, start);
    -o-animation: 1s blink infinite steps(1, start);
    animation: 1s blink infinite steps(1, start);
    
    margin-left: 10px;
    margin-right: 10px;
}

#gif {
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


@-webkit-keyframes blink {
  0%,100%{
        background-color: #111;
        color: #aaa;
  }
  50% {
        background-color: #f0f0f0;
        color: #aaa;
    }
}

@-moz-keyframes blink {
  0%,100%{
        background-color: #111;
        color: #aaa;
  }
  50% {
        background-color: #f0f0f0;
        color: #aaa;
    }
}

@keyframes blink {
  0%,100%{
        background-color: #111;
        color: #aaa;
  }
  50% {
        background-color: #f0f0f0;
        color: #aaa;
    }
}

@-ms-keyframes blink {
  0%,100%{
        background-color: #111;
        color: #aaa;
  }
  50% {
        background-color: #f0f0f0;
        color: #aaa;
    }
}

@-o-keyframes blink {
  0%,100%{
        background-color: #111;
        color: #aaa;
  }
  50% {
        background-color: #f0f0f0;
        color: #aaa;
    }
}

/**************************/
/*          MENU          */
/**************************/
#menu {
    margin-bottom: 20px;
    
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu li {
    display: inline;
    cursor: pointer; cursor: hand;
    margin-right: 22px;
}

#menu li:not(.active):hover {
    color: #666;
}

#menu .active {
    font-weight: bold;
    /*border-bottom: 3px solid #d2d2d2;*/
}

#active-border {
    position: absolute;
    left: 510px;
    top: 85px;
    width: 39px;
    height: 3px;
    background-color: #d2d2d2;
}

/**************************/
/*         CONTENT        */
/**************************/
#content {
    width: 810px; /* for slide effect */
    font-size: 14px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 60px;
}

h1 {
    color: #d42a5b;
    font-size: 16pt;
    margin-bottom: 7px;
}

h2 { 
    color: #e63f66;
    font-size: 15pt;
    margin-bottom: 5px;
}

h3 {
    color: #C09B55;
    font-size: 15pt;
    margin-bottom: 5px;
}

p {
   padding-bottom: 20px;
}

a {
    color: #e63f66;
}

ul {
    margin-left: 30px;
    margin-bottom: 15px;
}

.code-font {
    font-family: 'Josefin Sans', 'Nunito', 'Roboto Slab', 'Lucida Typewriter', monospace;
}


div.section_divider {
    width: 500px;
    border-bottom: 1px solid #AAA;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

div.section_divider h2 {
    display: inline;
}

div.section_divider img {
    border: 0px;
    margin: 0px;
    margin-left: 5px;
}

/**************************/
/*   HOME IMAGE GALLERY   */
/**************************/
.popup-gallery a {
    display: inline-block;
    width: 135px;
    height: 135px;
    border: 1px solid #777;
    margin: 10px;
    padding: 0px;
}
.popup-gallery a img {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    object-fit: cover;
}

.mfp-img-mobile img {
    border: 0px;
}

/**************************/
/*       PORTFOLIO        */
/**************************/
div.portfolio_item {
    height: 350px;
    cursor: pointer; cursor: hand;
}
div.portfolio_item:hover {
    opacity: 0.95;
}

div.portfolio_item h2 {
    padding-top: 15px;
}

div.portfolio_item:nth-of-type(odd) img {
    float: right;
    margin-top: 0px;
    margin-right: -20px;
    margin-left: 50px;
}

div.portfolio_item:nth-of-type(even) img {
    float: left;
    margin-top: 0px;
    margin-left: -20px;
    margin-right: 50px;
}

.portfolio_back {
    float: left;
    width: 30px;
    height: 30px;
    background-image: url('../assets/img/back_arrow.png');
    background-size: 100% 100%;
    cursor: pointer;
    margin-right: 10px;
}

.portfolio_back:hover {
    opacity: 0.8;
}


/**************************/
/*         IMAGES         */
/**************************/
img {
    border: 2px solid #c8c8c9;
    border-radius: 2px;
}

img.noborder {
    border: 0px;
}

img.right {
    float: right;
    margin: 10px;
    margin-left: 25px;
}

img.left {
    float: left;
    margin-left: 10px;
    margin-right: 25px;
}

/**************************/
/*         VIDEO          */
/**************************/
div.youtube  {
    width: 648px;
    height: 364px;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #222;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #555;
    margin-bottom: 30px;
}

div.youtube iframe {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


/**************************/
/*          MISC          */
/**************************/
.antispam {
    display: none;
}

#resume {
    width: 88%;
}

img.img_resume {
    margin-top: 6px;
    margin-right: 30px;    
}

.img_resume:hover {
    opacity: 0.85;
    cursor: pointer; cursor: hand;
}